<div class="grid">
  <%@history_cat.each_with_index do |section, index|%>

    <%if (index % 2 == 0)%>
    <%= content_tag(:div,"" ,class: "grid-image-container", style:
    "background-image: url(#{asset_path section[:image]});"
    ) %>
    <%end%>

    <div class=" " style= "">
    <%= content_tag(:div,"" ,class: "small-image-container", style:
        "background-image: url(#{asset_path section[:image]});"
        ) %>

      <div class = "grid-padding <%= (index % 2 == 0)? "padding-right" : "padding-left"%>">
<%#          <h2> <%=section[:title]%>

      <%= section[:content]%>
      </div>
    </div>

    <%if (index % 2 != 0)%>
    <%= content_tag(:div,"" ,class: "grid-image-container", style:
    "background-image: url(#{asset_path section[:image]});
   "
    ) %>
    <%end%>
  <%end%>
</div>
