    <div class= "first-text padding-right padding-left"style="width: 70%; margin: auto; text-align: center;"><%=@about_cat[0][:content]%></div>
    <%@landing_page_cat.each_with_index do |section, index|%>
    <div class="section-header"style="padding: 0.2em; text-align: center; background-color: black; color: white; font-size: 1.2em"><%=section[:section]%></div>
    <div class="grid">


      <%if (index % 2 == 0)%>
      <%= content_tag(:div,"" ,class: "image-container", style:
      "background-image: url(#{asset_path section[:image]});"
      ) %>
      <%end%>

      <div>
         <%= content_tag(:div,"" ,class: "small-image-container", style:
        "background-image: url(#{asset_path section[:image]});"
        ) %>

        <div class = "grid-padding <%= (index % 2 == 0)? "padding-right" : "padding-left"%>" style= "">
          <%# <h2> <%=section[:section]%>
          <%# </h2> %>
          <p><%= section[:content]%></p>
          <a href="<%=section[:href]%>">Llegeix-ne més</a>
        </div>
      </div>

      <%if (index % 2 != 0)%>
      <%= content_tag(:div,"" ,class: "image-container", style:
      "background-image: url(#{asset_path section[:image]});"
      ) %>
      <%end%>

    </div>
  <%end%>
