<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <title>Celler Ardevol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: none">

 <div id = "headertop" style = "
    height: 14.5vh
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr;
    ">
    <%= image_tag("logo.png", style: "height: 9vh; margin: auto; margin-top: 1vh")%>
    <p class="medium-text" style="margin: auto">Celler Ardèvol</p>
    </div>

    <div id="navbar" class="wine">
      <a class="navbar-item whitelink" href="/about">Qui sóm?</a>
      <a class="navbar-item whitelink" href="/wines">Els vins</a>
      <a class="navbar-item whitelink" href="/history">Història</a>
      <a class="navbar-item whitelink" href="/contact">Contacte</a>
    </div>
    <div class="main-container">
    <%= yield %>
    </div>
       <div id="footer" class="wine" style="text-align: center; margin-bottom: none">Celler Ardèvol i Associats, S.L. <br> Disseny web: Gabriel Ardèvol <br> copyright:  </div>

  </body>
</html>
