<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <title>Celler Ardevol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: none">

    <a href="/">
    <header>
        <div class="logo" style="margin:auto; text-align: center">
          <%= image_tag("logo.png", style: "height: 9vh")%>
          <div class="medium-text" style="margin: auto">Celler Ardèvol</div>
        </div>
      </header>
    </a>

    <div class="navbar">
      <a class="navbar-item whitelink" href="/about">Qui sóm?</a>
      <a class="navbar-item whitelink" href="/wines">Els vins</a>
      <a class="navbar-item whitelink" href="/history">Història</a>
      <a class="navbar-item whitelink" href="/contact">Contacte</a>
    </div>

    <div class="main-container">
    <%= yield %>
    </div>

    <footer style=" background-color: black; text-align: center; margin-bottom: none">Celler Ardèvol <br> contact info <br> website by <br> something else </footer>

  </body>
</html>
