<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <title>Celler Ardevol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: none">

  <div id="header" class= "wine">
    <a href="/" class= "whitelink">
    <p class="medium-text whitelink" style="margin: 0.5em; font-size: 1.8em;">Celler <%= image_tag("logo.png", style: "height: 1em;") %> Ardèvol</p>
    </a>
  </div>

    <div id="navbar">
      <a class="navbar-item whitelink" href="/about">Qui sóm?</a>
      <a class="navbar-item whitelink" href="/wines">Els vins</a>
      <a class="navbar-item whitelink" href="/contact">Contacte</a>
    </div>
    <div class="main-container">
    <%= yield %>
    </div>
       <div id="footer" class="wine" style="text-align: center; margin-bottom: none">Celler Ardèvol i Associats, S.L. <br> Disseny web: Gabriel Ardèvol <br> copyright:  </div>

  </body>
</html>
