<!DOCTYPE html>
<html lang="ca">
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <title>Celler Ardevol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: none;">
    <%= render "shared/header" %>
    <%= render "shared/navbar" %>
    <div class="main-container" style="min-height: 63.8vh">
    <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
