<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <title>Celler Ardevol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: none">
  <div id="header">
      <p class="medium-text" style="margin: 0.5em; font-size: 1.8em;">Celler <%= image_tag("logo.png", style: "height: 1em;") %>
Ardèvol</p>
    </div>


 <div id= "carousel-container" style="">
      <div id="carousel-items">
        <img class="carousel-item" src="https://via.placeholder.com/199" style="min-width: 100vw; object-fit: cover">
        <img class="carousel-item" src="https://via.placeholder.com/800x799" style="min-width: 100vw; object-fit: cover">
      </div>
      <button id="prev-button">Previous</button>
      <button id="next-button">Next</button>
    </div>

    <div id="navbar">
      <p class="navbar-item">Qui sóm?</p>
      <p class="navbar-item">Els vins</p>
      <a class="navbar-item" href="#contacte">Contacte</a>
    </div>
    <%= yield %>
  </body>

  <script>
  var carouselContainer = document.getElementById("carousel-container");
  var carouselItem = document.querySelector(".carousel-item");
  var carouselItems = document.querySelector(".carousel-items");

function headerColorChange() {
  var header = document.getElementById("header");
  var rect = carouselContainer.getBoundingClientRect();
  var carouselPosition = rect.bottom + window.pageYOffset;
  let headerHeight = header.offsetHeight;
  let carouselHeight = carouselContainer.offsetHeight;

  window.onscroll = function() {
    if(window.pageYOffset >= (carouselPosition - headerHeight)){
      header.style.backgroundColor = "grey"}
    else {header.style.backgroundColor = "transparent"}
    function opacityCarousel() {
     //console.log(window.pageYOffset / carouselHeight)
     carouselItem.style.opacity = 1 - (window.pageYOffset / carouselHeight)

    }
    opacityCarousel()
  }
}

headerColorChange()

window.addEventListener("resize", handleResize);
function handleResize() {
  headerColorChange()
}


currentIndex = 1
 nextButton = document.getElementById("next-button")
 prevButton = document.getElementById("prev-button")

 nextButton.addEventListener('click', () => {
  console.log("click")
  currentIndex++;
  carouselItem.style.transform = `translateX(${-currentIndex * 100}%)`;
});


 prevButton.addEventListener('click', () => {
  console.log("clickprev")
  currentIndex--;
  carouselItem.style.transform = `translateX(${+currentIndex * 100}%)`;
});
</script>
</html>
