<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <title>Celler Ardevol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header style = "
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: transparent;

    ">
    <%= image_tag("logo.png", style: "height: 9vh; margin: auto; margin-top: 1vh; opacity: 1.0;")%>
    <p class="medium-text" style="margin: auto">Celler Ardèvol</p>
    </header>


  <div id= "carousel-container" class = ""style="background-color: black; margin-top: -14vh; height: 100vh;">
    <div id="carousel-items">
      <div>
      <%= image_tag("mountain.png", class: "carousel-item", style: "object-fit: cover; height: 100vh; width: 100%;") %>
      </div>
    </div>
    <%# <button id="prev-button">Previous</button>
    <button id="next-button">Next</button> %>
  </div>


    <div class="navbar">
      <a class="navbar-item whitelink" href="/about">Qui sóm?</a>
      <a class="navbar-item whitelink" href="/wines">Els vins</a>
      <a class="navbar-item whitelink" href="/history">Història</a>
      <a class="navbar-item whitelink" href="/contact">Contacte</a>
    </div>


    <div class="main-container">

    <%= yield %>

    </div>

  <footer style=" background-color: black; text-align: center; margin-bottom: none">Celler Ardèvol <br> contact info <br> website by <br> something else </footer>
  </body>






  <script>
  var carouselContainer = document.getElementById("carousel-container");
  var carouselItem = document.querySelector(".carousel-item");
  var carouselItems = document.querySelector(".carousel-items");

function headerColorChange() {
  var header = document.querySelector("header");
  var rect = carouselContainer.getBoundingClientRect();
  var carouselPosition = rect.bottom + window.pageYOffset;
  let headerHeight = header.offsetHeight;
  let carouselHeight = carouselContainer.offsetHeight;

  window.onscroll = function() {
    if(window.pageYOffset >= (carouselPosition + headerHeight)){
      //header.style.backgroundColor = "black";
      //header.style.position = "absolute" }
     // header.classList.add("blackbg")
     }
    else {
      //header.style.backgroundColor = "transparent";
     // header.style.position = "sticky"
     }
     // header.classList.remove("blackbg")}
    function opacityCarousel() {
     console.log(window.pageYOffset / carouselHeight)
     carouselItem.style.opacity = 1 - (window.pageYOffset / carouselHeight)
    }
    opacityCarousel()
  }
}

headerColorChange()

window.addEventListener("resize", handleResize);
function handleResize() {
  headerColorChange()
}


currentIndex = 1
 nextButton = document.getElementById("next-button")
 prevButton = document.getElementById("prev-button")

 nextButton.addEventListener('click', () => {
  console.log("click")
  currentIndex++;
  carouselItem.style.transform = `translateX(${-currentIndex * 100}%)`;
});


 prevButton.addEventListener('click', () => {
  console.log("clickprev")
  currentIndex--;
  carouselItem.style.transform = `translateX(${+currentIndex * 100}%)`;
});
</script>
</html>
