<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <title>Celler Ardevol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header></header>
<%#
    <header style = "
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: transparent;
    ">


    <%= image_tag("logo.png", style: "height: 9vh; margin: auto; margin-top: 1vh; opacity: 1.0;", id: "logo")
    <p id="logo-text" style="margin: auto">Celler Ardèvol</p>


    </header> %>


  <div id= "carousel-container" class = ""style="background-color: black; margin-top: 0vh; height: 100vh;">
    <div id="carousel-items">
      <div>
      <%= image_tag("mountain.png", class: "carousel-item", style: "object-fit: cover; height: 100vh; width: 100%;") %>
      </div>
    </div>
    <%# <button id="prev-button">Previous</button>
    <button id="next-button">Next</button> %>
  </div>


    <div class="navbar">
      <a class="navbar-item whitelink" href="/about">Qui sóm?</a>
      <a class="navbar-item whitelink" href="/wines">Els vins</a>
      <a class="navbar-item whitelink" href="/history">Història</a>
      <a class="navbar-item whitelink" href="/contact">Contacte</a>
    </div>


    <div class="main-container">

    <%= yield %>

    </div>

  <footer style=" background-color: black; text-align: center; margin-bottom: none">Celler Ardèvol <br> contact info <br> website by <br> something else </footer>
  </body>






  <script>

  var carouselContainer = document.getElementById("carousel-container");
  var carouselItem = document.querySelector(".carousel-item");
  var carouselItems = document.querySelector(".carousel-items");
  var header = document.querySelector("header");

function headerColorChange() {
  var rect = carouselContainer.getBoundingClientRect();
  var carouselPosition = rect.bottom + window.pageYOffset;
  let headerHeight = header.offsetHeight;
  let carouselHeight = carouselContainer.offsetHeight;
  window.onscroll = function() {
    if(window.pageYOffset >= (carouselPosition + headerHeight)){
     }
    else {
     }
    function opacityCarousel() {
     carouselItem.style.opacity = 1 - (window.pageYOffset / carouselHeight)
    }
    opacityCarousel()
  }
}

headerColorChange()

window.addEventListener("resize", handleResize);
function handleResize() {
  headerColorChange()
}

//  console.log("hello")
function headerStickness() {
  var logoImg = document.querySelector("#logo");
  var logoText = document.querySelector("#logo-text");
  var logo = logoImg + logoText
  //console.log(logo)
  console.log(header.offsetHeight)
  console.log(window.pageYOffset, screen.height)

  window.addEventListener('scroll', function() {
    if(window.pageYOffset > (screen.height-header.offsetHeight) && window.pageYOffset < screen.height){
      header.style.top = `-${header.offsetHeight - (screen.height - window.pageYOffset)}px`
      } else if (window.pageYOffset > screen.height ) {
      header.style.top = `-${header.offsetHeight}px`
      } else {
      header.style.top = `0px`
      }
  })


 }
headerStickness()








</script>
</html>
